<h3>Welcome to HouseM8</h3>

<% if house_owner_signed_in? %>
	<%= button_to "Create New Listing", listings_path, :class => "button medium", :method => :get%>

	<b>Your Listings:</b>
	<%if @listings %>
		<% @listings.each do |list| %>
			<p><%= "Title: " + list.title %></p>
			<p><%= "Description: " + list.description %></p>
			<p><%= "Address: " + list.address %></p>
			<p><%= "Price: " + list.price.to_s %></p>
			<p><%= "Lease Term: " + list.lease_term %>
			</p>
			<%if list.photo.file %>
				<p>Photo:</p>
				<%= image_tag(list.photo.url) %>
			<% end %>
			<%= button_to "Delete this Listing", listingsdestroy_path(id: list), :class => "button medium", :method => :patch%>
			<p>~~~~~~~~~~~~~~~~~~~~~~</p>
		<%end%>
	<% end %>
<% end %>

<% if !house_owner_signed_in? %>
	<p><%= link_to 'Listings:', listings_path %> <%= Listing.count %> registered</p>

	<h2></h2>
	<%= button_to "Interested!"%>
	<%= button_to "Next Listing"%>
<% end %>
